<h3>Check your email to confirm signin.</h3>
<div id="root"></div>
<script>
  const host = location.host;
  var url = 'ws://' + host + '/authws';
  if (location.protocol == 'https:') {
    url = 'wss://' + host + '/authws';
  }
  var socket = new WebSocket(url);
  socket.onopen = function(event) {
    socket.send("<%= sessionid %>");
  }
  var num = 1;
  socket.onmessage = function(e) {
    if (e.data == "done") {
      document.location = "welcome";
    } else {
      document.getElementById('root').innerHTML = num + " " + e.data;
      socket.send("<%= sessionid %>");
      num = num + 1;
    }
  };
  socket.onclose = function(e) {
    document.getElementById('root').innerHTML = 'socket closed';
    setTimeout(function() {document.location = "/";}, 1000);
  }
</script>

