<h1> Login </h1>

<form action="/users/check" method="POST">
<div>
<label for="email">Email</label>
<input
type="email"
name="email"
placeholder="Enter Email"
/>
</div>
<button type="submit" class="btn btn-primary btn-block">Login</button>
   
</form>

